[Unit]
Description=Serf agent
equires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/serf agent -bind {{ serf_bind_host }} -syslog -config-dir /etc/serf/config.d

[Install]
WantedBy=multi-user.target
