[Unit]
Description=Serf agent
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/serf agent -bind {{ serf_bind_host }}:{{ serf_bind_port }} -syslog -config-dir /etc/serf/config.d
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
